#breathing {
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    }
#breathing_2 {
        -webkit-animation: breathing 7s ease-out infinite normal;
        animation: breathing 7s ease-out infinite normal;
        -webkit-font-smoothing: antialiased;
        }

@-webkit-keyframes breathing {

  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

@keyframes breathing {


  50% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  50% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

}
